/* variables */
:root {
    --primary: #464436;
    --secondary: #ffdd6d;
    --warning: #da0f41;
}

/* base styles  */
* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    color: var(--primary);
}
body {
    background: #fafafa;
}
a {
    text-decoration: none;
}